.App {
  padding-inline: 20px;
  padding-block: 20px;
  width: 400px;
  background-color: #18191A;
  color: #fff;
}

.headings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headings button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-align: left;
  font-size: 1.25rem;
  padding: 5px;
  color: #fff;
  width: 100%;
}

.headings button:hover,
.headings button:focus {
  background-color: #fff;
  color: #18191A;
}